.song-title {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 2px;
    line-height: 1.4;
}

.tile-container {
    padding-bottom: 12px;
}