.music-player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding: 15px;
}

.music-player-art-container img {
    height: 60px;
}

.music-player-track-info {
    display: flex;
    align-items: center;
    width: 400px;
}

.music-player-track-details {
    margin-left: 20px;
}

.music-player-title-container {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

.music-player-artist-container {
    font-size: 14px;
    color: rgb(172, 172, 172);
    display: flex;
}

.music-player-title-container p,
.music-player-artist-container p {
    margin: 0;
}

.music-player-handling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100px;
    margin-top: 15px;
}

input.progress.slider {
    width: 400px;
    margin: 0 10px;
    height: 4px;
}

input.volume.slider {
    margin: 0 10px;
    max-height: 4px;
    width: 100px;
}

.music-player-progress-container {
    display: flex;
    align-items: center;
}

.music-player-volume-container {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music-player-vol-slider {
    padding-bottom: 7px;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 150px;
}

.music-player-progress-start,
.music-player-progress-end {
    font-size: 12px;
}

.prev,
.play,
.pause,
.next {
    background: none;
    border: none;
    outline: none;
}

.prev:focus,
.play:focus,
.pause:focus,
.next:focus,
input:focus {
    outline: none;
}

.fa-step-backward,
.fa-step-forward {
    color: #505050;
    font-size: 16px;
}

.fa-play-circle,
.fa-pause-circle {
    color: #505050;
    font-size: 38px;
}

input[type="range"] {
    height: 4px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.controlsDisplay {
    display: none;
}

.controlsDisplay2 {
    display: none;
}