:root {
    --white: #fff;
    --active-color: #00aeb0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.audio-player {
    max-width: 350px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-weight: 300;
    margin-top: 0;
}


/* CONTROLS */

.audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 35px;
    height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    height: 40px;
    width: 40px;
}

.audio-controls path {
    fill: var(--white);
}