/* :root {
    --white: #fff;
    --active-color: #00aeb0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.audio-player {
    max-width: 350px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-weight: 300;
    margin-top: 0;
}

input[type="range"] {
    height: 5px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.music-player-volume-container {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music-player-vol-slider {
    padding-bottom: 7px;
}


/* CONTROLS */


/* 
.audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 35px;
    height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    height: 40px;
    width: 40px;
}

.audio-controls path {
    fill: var(--white);
}  */

.music-player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding: 15px;
}

.music-player-art-container img {
    height: 60px;
}

.music-player-track-info {
    display: flex;
    align-items: center;
    width: 400px;
}

.music-player-track-details {
    margin-left: 20px;
}

.music-player-title-container {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}

.music-player-artist-container {
    font-size: 12px;
    color: rgb(172, 172, 172);
    display: flex;
}

.music-player-title-container p,
.music-player-artist-container p {
    margin: 0;
}

.music-player-handling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 100px;
}

input.progress.slider {
    width: 400px;
    margin: 0 10px;
    height: 4px;
}

input.volume.slider {
    margin: 0 10px;
    max-height: 4px;
    width: 100px;
}

.music-player-progress-container {
    display: flex;
    align-items: center;
}

.music-player-volume-container {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music-player-vol-slider {
    padding-bottom: 7px;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 150px;
}

.music-player-progress-start,
.music-player-progress-end {
    font-size: 12px;
}

.prev,
.play,
.pause,
.next {
    background: none;
    border: none;
    outline: none;
}

.prev:focus,
.play:focus,
.pause:focus,
.next:focus,
input:focus {
    outline: none;
}

.fa-step-backward,
.fa-step-forward {
    color: #505050;
    font-size: 16px;
}

.fa-play-circle,
.fa-pause-circle {
    color: #505050;
    font-size: 38px;
}

input[type="range"] {
    height: 4px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}